*{
    padding: 0;
    margin: 0;
}

body{
    background-color: khaki;
}

nav{
    width: 100%;
    background-color: darkviolet;
    height: 50px;
}

.container{
    width: 80%;
    margin: 0 auto;
}


nav .container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo{
    color: white;
    font-weight: bold;
    letter-spacing: 0.2cm;
    margin-left: 5px;
}

.logo:hover{
    text-decoration: underline;
    color: khaki;
}

.menu-items{
    display: flex;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
    color: khaki;
}

h1, h2{
    margin-bottom: 15px;
}

.header h1{
    font-size: 3rem;    
}

.header .container{
    display: flex;
    align-items: center;
}

img{
    width: 500px;
    margin-top: 50px;
}

.boxes .container{
    display: flex;
    justify-content: space-between;
}

.box{
    flex: 1;
    background-color: magenta;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

@media(max-width: 768px){
    .header .container{
        flex-direction: column;
    }
    img{
        width: 400px
    }

    .boxes .container{
        display: block;
        text-align: center;
    }
}